<div>
    <div style="background-color: bisque; text-align: center;">
        <h2>Feedback Form</h2>
        <hr>
    </div>
    <div class="container-fluid" style="text-align: center; margin-top: 100px; background-color: beige; width: 300px;">
        <br>
        <div style="margin-left: 25px;">
            Name: <input type="text" required><br><br>
        </div>
        <div>
            Feedback: <input type="text" required>
        </div>
        <br>
    </div>
    <br>
    <div style="text-align: center;">
        <button class="btn btn-outline-primary">Send</button>
    </div>
</div>